#form{
  margin: 20px 60px;
}
input{
  margin: 10px 0;
}
.fieldForCards{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  height: max-content;
  padding: 30px;
  margin: 30px;
  align-items: center;
  text-align: center;
}
.containerForCard{
  margin: 20px 0;
  padding: 40px 20px 20px;
  border: solid 2px red;
  line-height: 30px;
  width: 420px;
}
.cardName{
  font-size: 20px;
  font-weight: 600;
}
